td {
    width:30px;
    height:30px;
    border:1px solid black;
    text-align:center;
}

.miner_cell_covered {
    background-color: #FF8000;
}

.miner_cell_uncovered {
    background-color: #FFFF99;
}

.miner_cell_marked {
    background-color: red;
}